{
  "env": {
    "es2020": true,
    "node": true,
    "jest": true
  },
  "extends": [
    "airbnb-base",
    "plugin:node/recommended-module",
    "plugin:promise/recommended",
    "plugin:jest-formatting/recommended",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 11,
    "sourceType": "module"
  },
  "plugins": ["import", "prettier"],
  "rules": {
    "prettier/prettier": "error",
    "no-console": "off"
  }
}
